.nav-bar {
  display: flex;
  background-color: rgb(39, 36, 36);
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  list-style: none;
}
a {
  margin: 5px 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
a:hover {
  color: rgb(180, 175, 175);
}
.content {
  height: 150vh;
}
