.products-section {
  text-align: center;
  padding: 0;
  background-image: linear-gradient(90deg, #e9e9e9) 0%, (#f7f7f7 100%);
  font-family: "Roboto", sans-serif;
  color: rgb(32, 32, 32);
  font-weight: 100;
}
.products-section-header {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 6rem auto;
  color: #e44b45;
  font-family: "Rock 3D", cursive;
  font-size: 4rem;
  font-weight: 100;
}

@media (max-width: 28.75em) {
  .products-section-header {
    font-size: 4rem;
  }
  .price .amount {
    font-size: 3rem;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.product-container {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  justify-content: space-between;
  border-radius: 25px;
}
.coming-soon-container {
  background-color: #f3f3f3;
  justify-content: center;
}
.product-container > h4 {
  color: #e44b45;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 100;
}
.product-container > p {
  text-align: center;
  font-weight: 100;
  font-size: 1.2rem;
}
.coming-soon-text {
  font-size: 2rem;
  font-weight: 100;
}
/*
.product-container > p:nth-child(3) {
  display: none;
  z-index: 200;
}
.product-img:hover + .product-container > p:nth-child(3) {
  display: initial;
}
*/
.product-container > p:nth-child(4) {
  color: #e44b45;
  font-size: 1.5em;
  align-self: flex-end;
  padding-top: 15px;
}

.product-img {
  padding: 100px;
  max-height: 500px;
}

.price {
  text-align: end;
  margin-top: 10px;
  font-family: "Rock 3D", cursive;
  text-transform: uppercase;
  color: #2d2d2d;
  font-size: 2rem;
  font-weight: 100;
}
.amount {
  color: #e44b45;
  font-family: "Roboto", sans-serif;
}

/* iphone and ipad media queries */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .products-section-header {
    font-size: 4rem;
  }
  .price .amount {
    font-size: 3rem;
  }
  .products {
    padding: 1rem 1rem;
    max-width: 350px;
  }
  .products-section {
    max-width: 375px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .products {
    padding: 1rem 1rem;
    max-width: 350px;
  }
  .products-section {
    max-width: 390px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .products {
    padding: 1rem 1rem;
    max-width: 400px;
  }
  .products-section {
    max-width: 428px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .products {
    padding: 1rem 1rem;
    max-width: 740px;
  }
  .products-section {
    max-width: 768px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .products {
    padding: 1rem 1rem;
    max-width: 740px;
  }
  .products-section {
    max-width: 768px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .products {
    padding: 1rem 1rem;
    max-width: 740px;
  }
  .products-section {
    max-width: 834px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .products {
    padding: 1rem 1rem;
    max-width: 940px;
  }
  .products-section {
    max-width: 1024px;
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 200%;
  }
  .amount {
    font-size: 2.5rem;
  }
}
