h1 {
  font-size: 4rem;
}

.welcome-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  width: 100%;
  padding: 0 0 2% 0;
  background-image: linear-gradient(90deg, #e9e9e9) 0%, (#f7f7f7 100%);
}
.store-name {
  font-family: "Rock 3D", cursive;
  color: #e44b45;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 4rem;
  margin: auto;
}
.introduction2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 550px;
  font-weight: 100;
  text-transform: lowercase;
  color: #2c2c2c;
}

.slides {
  animation-name: fader;
  animation-duration: 7500ms;
  animation-delay: 0ms;
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 3%;
}

.product-btn {
  width: 300px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #e44b45;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.product-btn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #e75752;
  color: #f5f5f5;
}
.see-more {
  background-color: #fafafa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  justify-content: space-between;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px inset;
  transition: 250ms;
}
.see-more:hover {
  background-color: #e44b45;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.see-more-text {
  font-size: 2rem;
  font-weight: 100;
}

.btnline1 {
  font-size: 3em;
  font-family: "Rock 3D", cursive;
}

.arrow {
  color: #e75752;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
}

.btnline3 {
  font-size: 2em;
  font-family: "Rock 3D", cursive;
}
/*
.back-to-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  color: #e44b45;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  line-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  margin-bottom: 50px;
}

#myBtn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #e75752;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  background-color: #f5f5f5;
  bottom: 0;
}

.bottom-logo {
  font-family: "Rock 3D", cursive;
  color: #e44b45;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}
.introduction4 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  color: #2c2c2c;
}
.bottom-links {
  padding-top: 10px;
  padding-bottom: 10px;
}
.introduction5 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
  color: #000000;
}
.introduction5 > a:visited {
  color: #000000;
}
.introduction5 > a:hover {
  color: #e44b45;
}

.copyright {
  padding: 5px;
  color: #2c2c2c;
  font-size: 1rem;
  text-align: center;
  font-weight: 100;
}
.copyright > a:visited {
  color: #2c2c2c;
}
.copyright > a:hover {
  color: #e44b45;
}

/*info section*/

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/blackbicho.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 51%;
}
.quotes-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: url(../assets/bichoface.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 51%;
}
.about {
  text-align: center;
  font-weight: 100;
  max-width: 80%;
  color: #e0e0e0;
  padding: 0;
  font-size: 2rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 17px rgba(0, 0, 0, 0.89);
}

.contact-title {
  font-family: "Rock 3D", cursive;
  text-align: center;
  font-size: 3rem;
  color: #2c2c2c;
  margin-top: 40px;
  font-weight: 100;
}
.why {
  font-family: "Rock 3D", cursive;
  text-align: center;
  font-size: 3rem;
  color: #e0e0e0;
  margin-top: 40px;
  font-weight: 100;
  text-transform: uppercase;
}
.whyspan {
  color: #e44b45;
}
.info-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}
.info-section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #000000;
  color: #e0e0e0;
}
.info-section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: #fafafa;
  color: #000000;
}
.quotes-btn {
  width: 300px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #e44b45;
  background-color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 40px;
}
.quotes-btn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #e75752;
  color: #f5f5f5;
  border: none;
}
.contact {
  font-weight: 100;
  text-align: center;
}

/* cart page */
.welcome-page-cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: inherit;
  width: 100%;
  padding: 5% 0 5% 0;
  background-image: linear-gradient(90deg, #e9e9e9) 0%, (#f7f7f7 100%);
}
.welcome-page-cart > .store-name {
  font-size: 3em;
}
.welcome-page-cart > .introduction2 {
  font-size: 2em;
}
.cart-title {
  font-family: "Rock 3D", cursive;
  text-align: center;
  font-size: 4em;
  color: #e44b45;
  font-weight: 100;
}
.info-section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 57%;
}
.info-section4 > .contact {
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
}
.info-section3 > .contact {
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
}

.copyright-cart {
  position: absolute;
  bottom: 0;
  color: #e44b45;
}

.content {
  height: 100vh;
}

/* Form page */

.form-container {
  width: 80vw;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}
.form-title {
  font-family: "Rock 3D", cursive;
  margin-bottom: 30px;
  color: #e44b45;
  font-weight: 100;
}
.input-title {
  color: #434343;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}
.submit-btn {
  margin-top: 60px;
  margin-bottom: 80px;
  width: 250px;
  height: 75px;
  background-color: #f5f5f5;
  border: none;
  text-decoration: none;
  color: #e44b45;
  font-size: 2rem;
  font-family: "Rock 3D", cursive;
  text-transform: uppercase;
  align-self: center;
  border-radius: 35px;
  line-height: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.submit-btn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #e75752;
  color: #f5f5f5;
  cursor: pointer;
}
.form-box {
  border: none;
  text-decoration: none;
  height: 50px;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #474747;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #e44b45;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px inset;
}
#price {
  width: 200px;
  margin: auto;
}

.form-box:focus {
  outline: none;
}
#url {
  width: max-content;
}
input[type="file"] {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  align-self: center;
  background-color: #ffffff;
  color: #434343;
  font-style: italic;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
input[type="file"]:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #ffffff;
  align-self: center;
}
input[type="file"]:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
::-webkit-file-upload-button {
  background: #ffffff;
  color: #2c2c2c;
  font-family: "Rock 3D", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
#urlform {
  display: none;
}
#fileform {
  display: none;
}

.urlbtn {
  font-family: "Rock 3D", cursive;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  height: 60px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  align-self: center;
  background-color: #ffffff;
  color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.filebtn {
  font-family: "Rock 3D", cursive;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  height: 60px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  align-self: center;
  background-color: #ffffff;
  color: #434343;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.urlbtn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #ffffff;
  align-self: center;
}
.filebtn:hover {
  box-shadow: 0px 15px 20px rgba(168, 170, 169, 0.4);
  transform: translateY(-7px);
  background-color: #ffffff;
  align-self: center;
}
.urlbtn:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}
.filebtn:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

@media (max-width: 28.75em) {
  .info-section {
    background-color: #000000;
  }
  .quotes-section {
    background-color: #000000;
  }
  .quotes-btn:hover {
    box-shadow: none;
    transform: translateY(-7px);
    background-color: #e75752;
    color: #f5f5f5;
    border: none;
  }
}
@media (max-width: 75em) {
  .info-section {
    background-color: #000000;
  }
  .quotes-section {
    background-color: #000000;
  }
  .quotes-btn:hover {
    box-shadow: none;
    transform: translateY(-7px);
    background-color: #e75752;
    color: #f5f5f5;
    border: none;
  }
}
/* iphone and ipad media queries */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: inherit;
    width: 100%;
    padding: 5% 0 5% 0;
    background-image: linear-gradient(90deg, #e9e9e9) 0%, (#f7f7f7 100%);
  }
  .welcome-page > .store-name {
    font-size: 3em;
  }
  .welcome-page-cart > .introduction2 {
    font-size: 2em;
  }

  #myBtn {
    width: fit-content;
    line-height: 100%;
    right: 20%;
    bottom: 5px;
    width: 15%;
    height: 6%;
    font-size: 70%;
    text-align: center;
    margin-bottom: 10px;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }

  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: inherit;
    width: 100%;
    padding: 5% 0 5% 0;
    background-image: linear-gradient(90deg, #e9e9e9) 0%, (#f7f7f7 100%);
  }
  .welcome-page > .store-name {
    font-size: 2em;
  }
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    width: fit-content;
    line-height: 100%;
    right: 20%;
    width: 15%;
    height: 6%;
    font-size: 70%;
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    width: fit-content;
    line-height: 100%;
    right: 50%;
    width: 15%;
    height: 6%;
    font-size: 70%;
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 335px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #e44b45;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
    line-height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 335px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #e44b45;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
    line-height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 368px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #e44b45;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
    line-height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .back-to-top {
    width: 100vw;
  }
  .btnline3 {
    font-size: 3rem;
    padding: 1px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 463px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #e44b45;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
    line-height: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
  }
  footer {
    justify-content: center;
    padding-bottom: 120px;
  }
  .introduction5 {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 100;
  }
}
